<launch>
    <!-- Load YAML -->
    <rosparam file="$(find panda_test)/config/franka_sim_config.yaml" command="load"/>
    <rosparam file="$(find panda_test)/config/dl_multi_features.yaml" command="load"/>


    <!-- Launch Realsense Camera & marker detection -->
    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch"/>    

    <node name="set_auto_exposure_rgb" pkg="dynamic_reconfigure" type="dynparam" args="set /camera/rgb_camera enable_auto_exposure False"/>
    <node name="set_brigtness_rgb" pkg="dynamic_reconfigure" type="dynparam" args="set /camera/rgb_camera brightness -30"/>


    
    <!-- Launch the control point generation services -->
    <!-- <include file="$(find panda_test)/launch/franka_sim.launch"/> -->
    <include file="$(find panda_test)/launch/franka_sim_control_service.launch"/>

    <!-- Joint publisher interface -->
    <node name="franka_joint_pub" pkg="panda_test" type="franka_joint_pub" output="screen" />
    
    <!-- Jacobian update -->
    <node name="franka_sim_energy_function_node" pkg="panda_test" type="franka_sim_energy_func_node" output = "screen"/>
    
    <!-- Set stiffness Service -->
    <!-- <node name="franka_stiffness_service" pkg="encoderless_vs" type="franka_joint_impedance.py" output="screen" respawn="false" /> -->
    
    <!-- Control node -->
    <node name="franka_sim_vs" pkg="panda_test" type="franka_sim_controller_node" output="screen" respawn="false" />

    <!-- Data record -->
    <node name="franka_sim_vs_recorder" pkg="panda_test" type="franka_sim_record_node" output="screen" respawn="false" />
    <node name="Image_writer" pkg="panda_test" type="img_write.py" output="log" respawn="false" />
    <!-- <node name="depth_writer" pkg="panda_test" type="depth_write.py" output="screen" respawn="false" /> -->
    
    <!-- Visualization node -->
    <node name="franka_sim_vs_vis" pkg="panda_test" type="franka_sim_vs_vis_node_3f_planning.py" output="screen" respawn="false" required="true" />
    <node name="sim_goal_img_pub" pkg="panda_test" type="franka_sim_goal_img_pub.py" output="screen" respawn="false"/>

    <!-- publish multiple references -->
    <!-- <node name="franka_multiref" pkg="encoderless_vs" type="multiref.py" output="screen" /> -->

    <!-- publish pick and place command -->
    <!-- <node name="franka_pick_place" pkg="encoderless_vs" type="franka_skel_grasp.py" output="screen" /> -->

    <node name="franka_image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
        <!-- <param name="autosize" value="true" /> -->
    	<remap from="image" to="/franka/vs/vis" />
    </node>

</launch>

